body {
color: rgb(14, 38, 255);
background: black;
margin: 0px;
font-family:"Josefin+Sans", sans-serif;

}
header {

border-bottom: solid 2px rgb(225, 20, 252);
padding: 18px;
font-size: 30px;
color: rgb(9, 245, 135);
margin: 0px;
font-family: "Chakra Petch", sans-serif;
margin-bottom: 100px;

}

.chamada{

    color: white;
background: rgba(248, 3, 3, 0.459);
padding-top: 30px;
padding-bottom: 20px;
display:flex;
justify-content: center;

}
 .chamada-texto{

margin-right: 2%;
margin-left: 20px;

 }

 h1{

    font-size: 40px;
 }

p{

    font-size: 15px;
    
}
img{
    height:200px
}
.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
   
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}

.categoria-videos img{

    opacity: 0.5;
    height: 200px;

}
.categoria-videos img:hover{

 opacity: 1.0;
 border: 1px solid rgb(0, 141, 223)
}